
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<!-- Header -->
<header>
    @Html.Partial("partial/Headear")
</header>
<section id="portfolio">
    @Html.Partial("partial/Portfolio")
</section>
<!-- About Section -->
<section class="success" id="about">
    @Html.Partial("partial/About")
</section>
<!-- Contact Section -->
<section id="contact">
    @Html.Partial("partial/Contact")
</section>