<div class="container">
    <div class="row">
        <aside class="head">About Us</aside>
        <div class="col-lg-12 text-center">
        </div>
    </div>
    <div class="row about-body">
        <div class="col-lg-3 col-md-offset-2">
            <img class="img-responsive" src="~/img/founder.png" alt="" />
        </div>
        <div class="col-lg-3">
            <div id="about-body">
                <div class="space">
                    <strong>FARZANEH HAMEDI</strong>
                    <br />
                    Tehran / Iran 1968
                    Official Member of Iranian
                    Graphic Designers Society (IGDS)
                    <p></p>
                    <strong>Qualification</strong>
                    <br />
                    Degree of General Visual Communication
                    Tehran University, Faculty of fine Arts 1987–1993
                    Diploma of Painting
                    Tehran Fine Arts
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-offset-1">
            <div class="space">
                <strong>Job Experiences</strong><br />
                BAZTAB ADVERTISING Co
                1988-1990 as Graphic Designer
                <p></p>
                VIJEH GRAPHIC Co
                1990-1992 as Graphic Designer
                <p></p>
                SUN STUDIO
                1992 - Now as Graphic Designer &
                Art Director
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-lg-12">

        </div>
    </div>
    <div class="row about-body">
        <div class="space">
            <div class="col-lg-6 col-md-offset-5">
                <strong>Callaborating with domestic & foreign companies:</strong>

            </div>
            <div class="col-lg-3 col-md-offset-2">

            </div>
            <section id="colaboration">
                <div class="col-lg-3">
                    <div>
                        <ul class="list-items">
                            <li>Sorinet Maryam Hotel </li>
                            <li>Sorinet Sadaf Hotel Kish</li>
                            <li>Shaygan Hotel Kish</li>
                            <li>Sky Core co Dubai</li>
                            <li>Magna co Dubai</li>
                            <li>Hamad Alghuwais co Dubai</li>
                            <li>Arian Parseh Kish co</li>
                            <li>Darman Ara co</li>
                            <li>Hamara System co</li>
                            <li> Ana Darou co</li>
                            <li>Rooyan Consultant group co</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-offset-1">
                    <ul class="list-items">
                        <li>Canola co</li>
                        <li>Dotcom co</li>
                        <li>Palayesh Darou co</li>
                        <li>Iran Rayaneh co</li>
                        <li>Rooyan Faranegar System co</li>
                        <li>Aphomar co</li>
                        <li>Afzar Pezeshk co</li>
                        <li>Karafarin Insurance co</li>
                        <li>Zone Organization</li>
                        <li>Irtoya co</li>
                    </ul>

                </div>
            </section>
        </div>
       
    </div>


</div>
 