 <div class="container">

        <div class="row about-body">
            <div class="space">
                <aside class="head head-contact">Contact Us</aside>
                <div class="col-lg-3">
                    <img src="~/img/contact-left.png" alt="" />

                </div>
                <div class="col-lg-4 col-md-offset-3">

                    <img src="~/img/Contact-main.png" alt="" class="img-responsive" />
                </div>
            </div>

        </div>
    </div>
