
<div class="container">
    <br /><br /><br /><br /><br /><br /><br /><br />
    <div class="row">
        <div class="col-md-4">
            <div id="portfolio-menu">
                <aside id="portfolio-top">Portfolio</aside>
                <ul class="portfolio-menu">
                    <li><a href="#portfolio">Logos</a></li>
                    <li><a href="#portfolio">Advertising</a></li>
                    <li><a href="#portfolio">Brouchures</a></li>
                    <li><a href="#portfolio">Packages</a></li>
                    <li><a href="#portfolio">Others</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-8">
            <div id="portfolio-gallary" class="clearfix">
                <div id="content" class="defaults">
                    <!-- big image -->
                    <div id="img" class="animated">
                        <img src="~/img/portfolio/1.jpg">
                    </div>
                    <!-- item container -->
                    <ul id="thumbs" class="clearfix">
                        <li class="selected"><img src="~/img/portfolio/1.jpg" alt="image"></li>
                        <li><img src="~/img/portfolio/2.jpg" alt="image"></li>
                        <li><img src="~/img/portfolio/3.jpg" alt="image"></li>
                        <li><img src="~/img/portfolio/4.jpg" alt="image"></li>
                        <li><img src="~/img/portfolio/5.jpg" alt="image"></li>
                        <li><img src="~/img/portfolio/6.jpg" alt="image"></li>
                        <li><img src="~/img/portfolio/7.jpg" alt="image"></li>
                        <li><img src="~/img/portfolio/8.jpg" alt="image"></li>
                        <li><img src="~/img/portfolio/9.jpg" alt="image"></li>
                        <li><img src="~/img/portfolio/10.jpg" alt="image"></li>
                        <li><img src="~/img/portfolio/11.jpg" alt="image"></li>
                        <li><img src="~/img/portfolio/12.jpg" alt="image"></li>
                        <li><img src="~/img/portfolio/13.jpg" alt="image"></li>
                        <li><img src="~/img/portfolio/14.jpg" alt="image"></li>
                        <li><img src="~/img/portfolio/download.jpg" alt="image"></li>
                    </ul>
                    <!-- navigation holder -->
                    <div class="holder"></div>
                    <!-- custom buttons -->
                    <div id="btns">
                        <span class="prev"></span>
                        <span class="next"></span>
                    </div>

                </div> <!--! end of #content -->
            </div>


        </div>
    </div>
</div>
<br /><br /><br /><br /><br /><br />