@model KhorshidBare.Models.KhorshidLogin
@{
    ViewBag.Title = "Index";
}

<h2>Image Upload</h2>

<mark>To be implemented</mark>
<br/><br /><br /><br /><br /><br /><br /><br /><br /><br />
 <OL>
     <li>    @User.Identity.Name</li>     
     <li>    @User.Identity.IsAuthenticated</li>
 </OL>
<h3> 
    @Html.ActionLink("LogOut1","LogOut","Auth")
</h3>

